@charset "utf-8";
/* CSS Document */

body { font-family: "微软雅黑"; font-size:12px; color:#999999; background:url(../images/bg.jpg) repeat-x #FFF; }
div, form, img, ul, ol, li, dl, dt, dd { margin: 0; padding: 0; border: 0; }
body, div, ul, li, form, table, ol, dl, dt, dd { margin:0px; padding:0px; list-style:none; border:0px; }
.blank0 { margin:0 auto; width:100%; height:0px; font-size:0px; line-height:0px; clear:both }
.blank6 { margin:0 auto; width:100%; height:6px; font-size:1px; line-height:1px; clear:both }
.blank12 { margin:0 auto; width:100%; height:12px; font-size:1px; line-height:1px; clear:both }
.blank20 { margin:0 auto; width:100%; height:20px; font-size:1px; line-height:1px; clear:both }
.blank30 { margin:0 auto; width:100%; height:30px; font-size:1px; line-height:1px; clear:both }
.blank50 { margin:0 auto; width:100%; height:50px; font-size:1px; line-height:1px; clear:both }
.corange { font-family:"微软雅黑"; font-size:20px; color:#f39800; font-weight:bold; }
.corange1 { font-family:"微软雅黑"; font-size:14px; color:#f39800; text-decoration:none;}
.corange1a { font-family:"微软雅黑"; font-size:14px; color:#f39800; text-decoration:none; font-weight:bolder;}
.corange2 { font-family:"微软雅黑"; font-size:12px; color:#f39800; padding:2px; background: #f3f3f3; }
.corange3 { background-color:#b6b6b6; color:#FFF; height:22px; line-height:22px; font-weight:bold; padding:2px; font-size:12px; }
.corange4 { font-family:"微软雅黑"; font-size:12px; color:#f39800; }
.corange5 { font-family:"微软雅黑"; font-size:12px; color:#f39800; font-weight:bold; }
.corange6 { font-family:"微软雅黑"; font-size:13px; color:#f39800; }
.red6 { font-family:"微软雅黑"; font-size:13px; color:#e40112; font-weight:bolder; }
.green6 { font-family:"微软雅黑"; font-size:13px; color:#92c61c; font-weight:bolder; }
.huitiao { height:1px; background-color:#cacaca; overflow:hidden; }
.coranget { height:2px; background:#ffffff; overflow:hidden; }
.red { font:Arial, Helvetica, sans-serif; font-size:12px; color:#e6220b; }
.hui { font-family:"微软雅黑"; font-size:20px; color:#999999; font-weight:bold; }
.hui { color:#808080; font-weight:bold; text-decoration:none; }
.hui01 { color:#acacac; text-decoration:none; line-height:24px; font-weight:normal; }
.hui02 { color:#808080; font-weight:normal; text-decoration:none; }
.hui03 { font-family:"微软雅黑"; font-size:16px; color:#999999; font-weight:bold; }
.hui04 { font-family:"微软雅黑"; font-size:14px; color:#808080; }
.hui05 { font-family:"微软雅黑"; font-size:15px; color:#808080; }
.hui051 { font-family:"微软雅黑"; font-size:15px; color:#808080; background:url(../images/fhsy2.jpg) no-repeat 2px 6px; padding-left:17px; }
.hui06 { color:#acacac; text-decoration:none; line-height:24px; font-weight:normal; font-family:"微软雅黑"; font-size:13px; margin-bottom:5px; }
.hui07 { font-family:"微软雅黑"; font-size:13px; color:#808080; }
.toonmaxmedia { width:960px; margin-left:auto; margin-right:auto; }
.header { width:100%; height:245px; margin-bottom:40px; }
.logo { width:267px; float:left; margin:100px 10px 0 3px; display:inline; }
.nav { width:680px; float:left; height:245px; }
.nav li { height:50px; padding-top:195px; float:left; margin-right:5px; display:inline; width:80px; text-align:center; }
.nav li.current { background:url(../images/toonmaxmedia2.jpg) no-repeat }
.nav li.current a { color:#FFF; background-color:#b6b6b6 }

.nav a { font-family:"微软雅黑"; font-size:14px; color:#999999; font-weight:bold; line-height:29px; text-decoration:none; width:80px; height:29px; display:block; }
.nav a:hover { font-family:"微软雅黑"; font-size:14px; color:#999999; font-weight:bold; line-height:29px; background-color:#fff; width:80px; height:29px; }
.location { width:69px; margin:20px 25px 0 30px; float:left; display:inline; font-family:"微软雅黑"; }
.location a { color:#999999; text-decoration:none; text-align:center; display:block; }
.location span { display:block; margin-bottom:2px; }
.locspan00a { width:64px; height:16px; background:url(../images/00a.jpg) no-repeat; padding:8px 0 16px 0px; }
.locspan00a a { color:#f39800 }
.locspan00b { width:64px; height:16px; background:url(../images/00b.jpg) no-repeat; padding:8px 0 16px 0px; }
.locspan01a { width:64px; height:16px; background:url(../images/01a.jpg) no-repeat; padding:8px 0 16px 0px; }
.locspan01b { width:64px; height:16px; background:url(../images/01b.jpg) no-repeat; padding:8px 0 16px 0px; }
.locspan02a { width:64px; height:16px; background:url(../images/02a.jpg) no-repeat; padding:8px 0 16px 0px; }
.locspan02b { width:64px; height:16px; background:url(../images/02b.jpg) no-repeat; padding:8px 0 16px 0px; }
.locspan03a { width:64px; height:16px; background:url(../images/03a.jpg) no-repeat; padding:8px 0 16px 0px; }
.locspan03b { width:64px; height:16px; background:url(../images/03b.jpg) no-repeat; padding:8px 0 16px 0px; }
.weizhi { }
.fhsy { color:#f2a21e; width:69px; font-weight:bold; text-decoration:none; background: url(../images/fhsy.jpg) no-repeat 53px 10px; }
.fhsy a { color:#f2a21e; width:62px; font-weight:bold; text-decoration:none; }

.content { width:631px; margin:20px 70px 0 0px; float:left; display:inline; }
.content p { margin:0 0 6px 0; line-height:22px; text-indent:24px; }
.contentp01 { text-indent:0px; line-height:22px; margin-bottom:4px; }
.content01 { width:780px; height:362px; margin:0px auto 0 auto; margin-top:40px; background:url(../images/invitebg1.jpg) no-repeat; padding:52px 20px 0 30px; }
.content01 p { margin:0 0 6px 0; line-height:32px; color:#808080; text-indent:36px; font-family:"微软雅黑"; font-size:16px; }
.content01a { width:93px; height:24px; background:url(../images/invite1.jpg) no-repeat 0 1px; text-align:center; color:#FFF; line-height:28px; padding:2px 8px 2px 5px; margin-left:4px; margin-right:3px; }
.content02 { width:750px; margin:20px 70px 0 0px; float:left; display:inline; }
.content02 p { margin:0 0 6px 0; line-height:22px; }
.inv_content { width:760px; margin:20px 70px 0 0px; float:left; display:inline; }
.inv_content p { margin:5px 0 5px 55px; line-height:22px; }
.inv_a { width:15px; height:15px; background:url(../images/inv.jpg) no-repeat 0 2px; color:#FFF; font-weight:bold; padding:0px 4px 1px 4px; margin-right:8px; }
.inv_a01 { width:15px; height:15px; background:url(../images/inv.jpg) no-repeat 0 2px; color:#FFF; font-weight:bold; padding:0px 0px 1px 0px; margin-right:8px; }
.nav1 ul { list-style:none;}
.nav1 li { height:26px; margin-bottom:2px; background:url(../images/nav2.jpg) no-repeat; line-height:26px; }
.nav1 li.current { background:url(../images/nav1.jpg) no-repeat; height:26px; }
.nav1 li.current a { color:#FFF; font-weight:bold; font-family:"微软雅黑"; }
.nav1 li.current01 { background:url(../images/nav1a.jpg) no-repeat; height:31px; }
.nav1 li.current01 a { color:#FFF; font-weight:bold; font-family:"微软雅黑"; }
.nav1 a { font-size:12px; color:#999999; line-height:26px; text-decoration:none; width:85px; height:26px; display:block; padding-left:10px; font-family:"微软雅黑"; }
.nav1 a:hover { font-size:12px; color:#FFF; font-weight:bold; line-height:26px; text-decoration:none; width:85px; height:26px; display:block; padding-left:10px; background: url(../images/nav1.jpg) no-repeat; }
.nav1 li.nav2 a { background-color:#FFF; color:#999999; font-weight: normal; }
.nav1 li.nav2 a:hover { background:#FFF; color:#f39800; font-weight: normal; }
.nav1 li span {display:none; } 
.nav1 li a:hover span {display:block; width:58px; height:44px; background:url(../images/a1.gif) no-repeat; position:absolute; top:122px; left:45px; color:#fff; }
.nav2 { width:100px; display:block; height:20px;}
.nav2a { height:1px; background-color:#f39800; overflow:hidden; margin-bottom:2px; _margin-bottom:0px; }
.jiahao { margin-bottom:12px; }
.jiahao span { display:block; float:left; margin:0; }
.jhspan { width:15px; font-size:16px; font-weight:bold; color:#f29200; }
.text { font-size:18px; }
#smglogo { position:absolute; right:2px; visibility: visible; }
.navSpan { font-family:"微软雅黑"; display:block; font-size:15px; font-weight:bold; height:29px; line-height:29px; text-decoration:none; width:80px; }
.news { margin-bottom:25px; }
.news ul { width:680px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
.news li { line-height:30px; }
.news a { font-family:"微软雅黑"; color:#999999; text-decoration:none;  margin:8px 0 8px 0;  }
.news a:hover { font-family:"微软雅黑"; color:#f39800;  margin:8px 0 8px 0; }
.news span { display:block;}
.newsspan01 { width:500px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; float:left; background:url(../images/fhsy1.jpg) no-repeat 0 12px; padding:0px 0px 0px 18px; }
.newsspan02 { float:right; color:#f39800; font-size:12px;}
.newsspan03 { float:right; margin:8px 3px 0 0px;}
.newstitle { padding-bottom:10px; text-align:center;}
.newstitle01 { text-align:center; }
.newstitle01 a { margin:8px 6px 4px 6px; color:#f39800; font-size:14px; font-weight:bolder;}
.newstitle02 { background: url(../images/n_arrow.jpg) no-repeat 0 4px; padding-left:15px; color:#f39800; margin-top:40px; }
.newstitle02 a { font-family:"微软雅黑"; color:#f39800; text-decoration:none;  margin:8px 0 8px 0; }
.newstitle02 a:hover { font-family:"微软雅黑"; color:#f39800;  margin:8px 0 8px 0; }
.newstitle03 { background: url(../images/n_arrow01.jpg) no-repeat 0 4px; padding-left:15px; color:#f39800; margin-bottom:30px;}
.newstitle03 a { font-family:"微软雅黑"; color:#f39800; text-decoration:none;  margin:8px 0 8px 0; }
.newstitle03 a:hover { font-family:"微软雅黑"; color:#f39800;  margin:8px 0 8px 0; }
.newstt { line-height:26px; font-weight:bold; color:#808080; font-size:14px; font-family:"微软雅黑" }
.businesstt { line-height:26px; font-weight:bold; color:#808080; font-size:13px; font-family:"微软雅黑" }
.businesstt1 { line-height:20px; background:url(../images/bg01.jpg) no-repeat; color:#FFF; font-weight:bold; width:80px; text-align:center; margin-bottom:2px; }
.businesstt2 { line-height:20px; font-weight:bold; width:80px; margin-bottom:2px; margin-top:2px; background:url(../images/news01.jpg) no-repeat 0 7px; padding-left:10px; font-size:13px; color:#808080; font-family:"微软雅黑" }
.businesstt3 { line-height:26px; font-weight:bold; color:#f39800; font-size:13px; }
.businesstt4 { line-height:24px; color:#808080; font-size:13px; font-family:"微软雅黑"; background:url(../images/fhsy1.jpg) no-repeat 0 8px; padding-left:15px; margin:8px 0 8px 0; }
.businesstt5 { line-height:26px; font-weight:bold; color:#808080; font-size:14px; font-family:"微软雅黑" }
.businesstt5a { width:300px; line-height:26px; font-weight:bold; color:#808080; font-size:14px; font-family:"微软雅黑"; background:url(../images/xdlogo-1.jpg) no-repeat 0px 2px; padding-left:65px; }
.businesstt5b { width:300px; line-height:26px; font-weight:bold; color:#808080; font-size:14px; font-family:"微软雅黑"; background:url(../images/haha-1.jpg) no-repeat 0px 2px; padding-left:50px;}
.works { clear:both; }
.img { width:165px; margin:0 0px 0 0; float:left; }
.jiantou { background:url(../images/works1a.jpg) no-repeat 5px 23px; width:25px; height:186px; float:left; }
.introduce { /*width:456px;*/width:486px; float:left; margin-top:10px; }
.introduce img { border:0px; margin:0px; padding:0px; }
.introduce01 { padding:15px 20px 6px 20px; background:#f3f3f3; }
.contact { font-family:"微软雅黑"; font-size:16px; color:#999999; background:url(../images/contact1.jpg) no-repeat; padding-left:36px; }
.copyright { margin:50px 0 0 600px; line-height:18px; }
.copyrighta { width:19px; height:19px; background:url(../images/copyright.jpg) no-repeat; color:#FFF; font-weight:bold; padding:0px 6px 2px 6px; margin-right:4px; }
/*Sticky Footer:*/
html, body, #wrap { height: 100%; }
body > #wrap { height: auto; min-height: 100%; }
#main { padding-bottom: 100px; }  /* must be same height as the footer */
#footer { position: relative; margin-top: -100px; /* negative value of footer height */ height: 100px; clear:both; width:910px; margin-left:auto; margin-right:auto; padding-left:0px; }
.bottom { width:910px; text-align:left; position:absolute; bottom:0; border-top:#cacaca 1px solid; margin-bottom:10px; visibility: visible; }
.bottom01 { width:810px; float:left; line-height:20px; color:#acacac; }
.bottom01 a { color:#acacac; line-height:20px; }
.bottom01 a:hover { color:#f29400; }
.bottom02 { width:100px; float:left; }
.bottom02 a { color:#f39800; text-decoration:none; line-height:20px; padding-left:15px; }
.bottom02 a:hover { color:#f39800; text-decoration:none; line-height:20px; padding-left:15px; background:url(../images/fhsy1.jpg) no-repeat 2px 4px; }
/*分页*/
DIV.yellow { padding:7px 7px 7px 7px; text-align:left; }
DIV.yellow A { border:#e6e6e6 1px solid; padding:1px 5px 1px 5px; margin:2px; text-decoration:none; color:#999; }
DIV.yellow A:hover { border:#e6e6e6 1px solid; color:#999; }
DIV.yellow A:active { border:#e6e6e6 1px solid; color:#999; }
DIV.yellow SPAN.current { BACKGROUND-COLOR: #999; border: #999 1px solid; padding:1px 5px 1px 5px; margin:2px; font-weight:bold; color:#FFF; }
DIV.yellow SPAN.disabled { border:#f5f5f5 1px solid; padding:1px 5px 1px 5px; margin:2px; color:#e6e6e6; }
.content { font-size:14px; }
.content img { padding:0px; }
.hide { display:none; }
.picadd01 { float:left;border:0; margin-right:10px;}
.picadd { float:right;border:0; margin-left:10px;}

/*12.9修改*/
.content_new { width:680px; margin:20px 70px 0 50px; float:left; display:inline; font-size:14px; }
.content_new p { margin:0 0 6px 0; line-height:22px; text-indent:28px; }
.content_right {  width:95px; float:left; border-left:#a9a9a9 1px solid;  padding:0px 0 65px 0;}
.index { width:70px; height:22px; background:url(../images/index.jpg) no-repeat; text-align:center; padding-top:9px; margin:12px 0 0 10px;}
.index a{ color:#f39800; text-decoration:none; }
.inv_content_new { width:760px; margin:20px 70px 0 50px; float:left; display:inline; }
.inv_content_new p { margin:5px 0 5px 55px; line-height:22px; }
.picadd02 { float:left;border:0; margin-right:10px; margin-top:5px;}
.corange2_new { font-family:"微软雅黑"; font-size:15px; color:#f39800; padding:2px 4px 2px 2px; background: #f3f3f3; font-weight:bold;}
.content02_new { width:780px; margin:0px auto 0 auto; font-size:13px; }
.content02_new p { margin:0 0 10px 0; line-height:22px; }
.content02_new img { margin:0px 10px 0 10px; }
.haha2_new { font-family:"微软雅黑"; font-size:15px; color:#fff; padding:2px 4px 2px 2px; font-weight:bold;}
.cooper { width:175px; height:31px; background:url(../images/coo_bg.jpg) no-repeat; text-align:center; padding-top:9px; margin:12px 0 0 10px; float:right; text-align:center;}
.cooper a { color:#f39800; font-size:12px; font-weight:bold;}
/*12.14*/
.content_intro { width:680px;  margin:20px 70px 0 50px; float:left; display:inline; font-size:14px; }
.content_intro p { margin:0 0 6px 0; line-height:22px; text-indent:28px; }
.bottom_intro { width:910px; text-align:left;bottom:0; border-top:#cacaca 1px solid; margin-bottom:0px; margin-left:auto; margin-right:auto; }
/*12.21*/
.contentp01a { text-indent:0px; line-height:22px; margin-bottom:4px; float:left; margin-top:15px; margin-left:10px; width:550px;}

/*2011.01.010*/
.e_commerce { background:#5bc0dc; text-align:center;}
.businesstt5c { width:84px; height:26px; line-height:26px; background:url(../images/img_01.jpg) no-repeat 0 3px ; color:#FFF; padding-left:3px;}
.businesstt5 span { display:block; float:left; margin-right:5px;}
.intro02table { color:#acacac; line-height:26px;}
.hahabrand { width:660px; padding:5px 10px 5px 10px; background:#e60211; color:#FFF;}
.hahabrand_01 { width:660px; padding:5px 10px 5px 10px; background:#92c61c; color:#FFF;}
.corange7 { font-family:"微软雅黑"; font-size:18px; color:#f39800; font-weight:bold; }
.investor { width:830px; margin:auto; background:url(../images/img_13.jpg) repeat-y;}
.investor_content { padding:0px 30px 0 40px;}
.investor_content p { margin:0 0 10px 0; line-height:22px; }


.newsImage { /*width:600px; height:380px; */background:url(../images/n_imgbg.jpg) 0 320px no-repeat; clear:both; margin:auto; padding-top:10px;}
.lImage {margin-right:10px; margin-bottom:10px;}
.cImage {clear:both; margin:auto;}

/*2011.01.17*/
.content_right_a { float:left; background:url(../images/nav2bg03.jpg) no-repeat 0px 0 ; margin-left:10px; width:100px; position:relative;}
.righttop { width:95px; height:33px; padding:25px 0 0 15px;}
.righttop a { line-height:22px; font-family:"微软雅黑"; font-size:14px; color:#999999; font-weight:bold; }
.m_time { background: url(../images/m_time.jpg) no-repeat 0 3px;; padding-left:20px; height:30px; line-height:30px; color:#f39800; font-weight:bold;}
.whiteline { width:100%; height:1px; background-color:#FFF; margin:6px 0 6px 0;}
.top { float:right; margin:10px 0 10px 0;}
.top01 {width:800px; margin:auto; text-align:center;}

.tab{ margin-bottom:5px;}
#TabTab03Con1{width:680px; margin-top:5px;}
#TabTab03Con2{width:680px; margin-top:5px;}
#TabTab03Con3{width:680px; margin-top:5px;}
#TabTab03Con4{width:680px; margin-top:5px;}
.xixi1{width:680px;height:38px;line-height:30px;background: url(../images/tabbg.gif) no-repeat;cursor:pointer; }
.xixi2{width:680px;height:38px;line-height:30px;background: url(../images/tabbg.gif) no-repeat 0 -38px;cursor:pointer;}
.xixi3{width:680px;height:38px;line-height:30px;background: url(../images/tabbg.gif) no-repeat 0 -76px;cursor:pointer;}
.xixi4{width:680px;height:38px;line-height:30px;background: url(../images/tabbg.gif) no-repeat 0 -114px;cursor:pointer;}
.tab1{width:92px;height:38px;line-height:30px;float:left;text-align:center;cursor:pointer; font-size:14px; font-weight:bold;color:#FFF; margin-right:10px;}
.tab2{width:92px;height:38px;line-height:30px;float:left;text-align:center;cursor:pointer;font-size:14px; font-weight:bold;color:#999999; margin-right:10px;}
.tab3{width:92px;height:38px;line-height:30px;float:left;text-align:center;cursor:pointer;font-size:14px; font-weight:bold;color:#999999; margin-right:10px;}
.tab4{width:92px;height:38px;line-height:30px;float:left;text-align:center;cursor:pointer;font-size:14px; font-weight:bold;color:#999999; margin-right:10px;}
.xixi1a{width:320px;height:56px;line-height:30px;background: url(../images/tab02.jpg) no-repeat;cursor:pointer; }
.xixi2a{width:320px;height:56px;line-height:30px;background: url(../images/tab03.jpg) no-repeat;cursor:pointer;}
.tab1a{width:160px;height:56px;line-height:30px;float:left;text-align:center;cursor:pointer; font-size:14px; font-weight:bold;color:#FFF; }
.tab2a{width:160px;height:56px;line-height:30px;float:left;text-align:center;cursor:pointer; font-size:14px; font-weight:bold;color:#FFF; }
