<div class="header">
  <div class="logo"><a href="/"><img src="/images/logo.jpg" border="0" /></a></div>
  <div class="nav" id="nav">
    <ul>
      <li><a href="intro.html">公司介绍</a></li>
      <li><a href="news">新闻中心</a></li>
      <li><a href="business.html">主营业务</a></li>
      <li><a href="works.html">公司作品</a></li>
      <li><a href="#">投资者关系</a></li>
      <li><a href="#">合作伙伴</a></li>
      <li><a href="invite.html">招贤纳士</a></li>
      <li><a href="e_commerce.html" target="_blank">电子商务</a></li>
      <div class="blank0"></div>
    </ul>
  </div>
  <div class="blank0"></div>
</div>
<script type="text/javascript" charset="utf-8">
  var fl = new SWFObject("/flash/nav.swf?v=2", "fl", 680, 245, "8");
  fl.addParam("quality","high");
  fl.addParam("allowScriptAccess","always");
  fl.addParam("wmode","transparent");
  fl.addVariable("cur_sec", document.location.href.split('/').pop().split('.')[0].split('_')[0]);
  fl.write("nav");
</script>