<div class="righttop"><a>新闻中心</a></div>
<div class="content_right">
  <div class="nav1">
    <ul>
      <li id="cat1"><a href="/news?category_id=1">新闻列表</a></li>
      <li id="cat2" class="hide"><a href="/news?category_id=2">产品新闻</a></li>
      <li id="cat3" class="hide"><a href="/news?category_id=3">媒体报道</a></li>
    </ul>
  </div>
  <div class="index"><a href="/">返回首页</a></div>
</div>